# SERVER
NODE_ENV=development
HOST=0.0.0.0
PORT=3333

# DB
DATABASE_URL="postgresql://doculoc:doculoc@localhost:5432/doculoc?schema=public"

# SECRET
JWT_SECRET="um_segredo_forte"

# CORS
CORS_ORIGIN="http://localhost:5173"

# FRONTEND
APP_URL="http://localhost:5173"

CONTRACT_TEMPLATE_PATH=src/templates/default-rental-application-contract.docx

STORAGE_DRIVER=local
CONTRACT_OUTPUT_DIR=src/storage/contracts

# ÓRAGO
ORAGO_BASE_URL="https://sandbox.oragoapp.com.br"
ORAGO_API_TOKEN="access_token_orago"

# CLOUDFLARE
S3_ENDPOINT="url_cloudflare"
S3_REGION=auto
S3_BUCKET=doculoc-contracts
S3_ACCESS_KEY_ID="access_key_cloudflare"
S3_SECRET_ACCESS_KEY="access_key_secret_cloudflare"

# RESEND
RESEND_API_KEY="api_key_resend"
MAIL_FROM="Contato <contato@example.com>"
PASSWORD_RESET_TOKEN_EXPIRES_MINUTES=180

# CLICKSIGN
CLICKSIGN_BASE_URL="https://sandbox.clicksign.com"
CLICKSIGN_ACCESS_TOKEN="access_token_clicksign"

CLICKSIGN_DEADLINE_DAYS=30
CLICKSIGN_WEBHOOK_SECRET="um_segredo_forte"

CLICKSIGN_DOCULOC_SIGNER_NAME="Contato"
CLICKSIGN_DOCULOC_SIGNER_EMAIL="contato@example.com"
CLICKSIGN_DOCULOC_SIGNER_PHONE=""
CLICKSIGN_DOCULOC_SIGNER_DOCUMENT=""

# LIBREOFFICE
LIBREOFFICE_PATH=/usr/bin/soffice